<div id="dashboard" style="padding: 10px;" >

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">  
            <div class="card">
              <div class="card-header">Meu Histórico</div>
              <div class="card-body">  
                <div id="table-veiculos" class="sgo-table-container"></div>
              </div>        
            </div>
          </div>
    </div>

  </div>