
<div class="card" >
    <div class="card-header form-inline" id="form-pesquisa-veiculos">
        <div class="input-group mr-2">
            <div class="form-group mr-2" >
                <select class="form-control" name="status" id="status_veiculo">                
                    <option value="0" >Inativo</option>
                    <option value="1" selected="selected">Ativo</option>
                </select>
            </div>  
            <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
            <div class="input-group-append">
                
            </div>
        </div>
        <div class="input-group mr-2">
            <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
            <div class="input-group-append">
                
            </div>
        </div>
        <div class="input-group mr-2">
            <input type="text" class="form-control" id="pesquisa_cliente" name="cliente" placeholder="Nome do Cliente">
            <div class="input-group-append">
                <span class="btn btn-secondary" id="btn-veiculos-pesquisa">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>               
            </div>
          </div>



    </div>
    <div class="card-body" style="padding: 3px;">
        <div id="table-veiculos" class="sgo-table-container"></div>
    </div>
</div>